locals {
    team_name = "{{team_name}}"
    tags = {
        Team        = "{{team_name}}"
        ManagedBy   = "terraform"
        Owner       = "{{team_name}}"
    }
}

## Tenant Idempotent Infrastructure Modules ## - Do not remove these - Danger zone start!
module "aws-vpc" {
    source    = "git::https://github.com/ok-karthik/platform-engineering-idp-gitops-reference-architecture.git//1-idp-scaffolder/templates/cloud-services/aws-networking?ref=v1.0.2"
    team_name = "{{team_name}}"
    app_name  = "shared"
    vpc_cidr  = "{{vpc_cidr}}"
}

module "aws-iam" {
    source    = "git::https://github.com/ok-karthik/platform-engineering-idp-gitops-reference-architecture.git//1-idp-scaffolder/templates/cloud-services/aws-iam?ref=v1.0.2"
    team_name = "{{team_name}}"
    app_name  = "shared"
}
## Tenant Idempotent Infrastructure Modules ## - Do not remove these - Danger zone end!
