locals {
    resource_name_prefix_{{app_name | replace("-", "_")}} = "{{team_name}}-{{app_name}}"
    tags_{{app_name | replace("-", "_")}} = {
        Team        = "{{team_name}}"
        Service     = "{{app_name}}"
        ManagedBy   = "terraform"
        Owner       = "{{team_name}}"
    }
}

{% if cloud_services %}
{% for service in cloud_services %}
module "{{ service }}-{{app_name}}" {
    source    = "git::https://github.com/ok-karthik/platform-engineering-idp-gitops-reference-architecture.git//1-idp-scaffolder/templates/cloud-services/{{ service }}?ref=main"
    team_name = "{{team_name}}"
    app_name  = "{{app_name}}"
}
{% endfor %}
{% endif %}
